__pycache__/
.lsp/
.idea
.mypy_cache/
.vscode/
data/
lightning_logs/
**/__pycache__/
pl-mnist/
wandb/
model/
mmidas-results/
results/
.vscode
smartseq_augmenter/
slurm-log/
traces/
*.txt
plots/
*.png
*.cpython
toy-runs/
mnist-logs/
mmidas-logs/
evaluation/
*.bak
*.pyc
mmidas/augmentation/__pycache__/aug_utils.cpython-312.pyc
mmidas/augmentation/__pycache__/aug_utils.cpython-312.pyc
mmidas/augmentation/__pycache__/udagan.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/tools.cpython-312.pyc
mmidas/utils/__pycache__/dataloader.cpython-312.pyc

pretrained/*

.envrc

*.pt